@font-face {
    font-family: 'Optimus Princeps';
    font-weight: 500;
    src: url(custom-fonts/OptimusPrinceps/OptimusPrinceps-medium.woff2) format('woff2'),
        url(custom-fonts/OptimusPrinceps/OptimusPrinceps-medium.woff) format('woff');
}

@font-face {
    font-family: 'Optimus Princeps';
    font-weight: 600;
    src: url(custom-fonts/OptimusPrinceps/OptimusPrinceps-semibold.woff2) format('woff2'),
        url(custom-fonts/OptimusPrinceps/OptimusPrinceps-semibold.woff) format('woff');
}

@font-face {
    font-family: 'Vesper Libre';
    src: url(custom-fonts/VesperLibre/VesperLibre-medium.woff2) format('woff2'),
        url(custom-fonts/VesperLibre/VesperLibre-medium.woff) format('woff');
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

:root {
    --font-family-optimus: 'Optimus Princeps';
    --font-family-vesper: 'Vesper Libre';

    --font-color-primary: #f0f8ff;
    --font-color-correct-value: #00ff00;
    --font-color-wrong-value: #ff8080;

    --border-color-primary: #f0f8ff;
    --border-color-correct-value: #00ff00;
    --border-color-wrong-value: #ff8080;
}

body {
    height: 100vh;

    position: relative;

    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3)), url(forest-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    position: relative;

    align-self: center;

    font-family: var(--font-family-optimus);
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;

    color: var(--font-color-primary);
}

h1::before {
    width: 50%;
    height: 2px;

    position: absolute;
    top: 50%;
    left: -65%;

    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;

    content: '';
    background: linear-gradient(90deg, rgba(240, 248, 255, 1), rgba(0, 0, 0, 0)),
        transparent;
}

h1::after {
    width: 50%;
    height: 2px;

    position: absolute;
    top: 50%;
    left: 115%;

    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;

    content: '';
    background: linear-gradient(270deg, rgba(240, 248, 255, 1), rgba(0, 0, 0, 0)),
        transparent;
}

.form-container {
    height: 90%;
    width: max(300px, 60%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    padding: 1.5em 2.5em;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 1);
}

fieldset,
label,
input,
button {
    appearance: none;
    outline: none;
    border: none;
}

form {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fieldset-container {
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

fieldset div {
    position: relative;

    display: flex;
    flex-direction: column;
}

label {
    position: absolute;
    top: -30%;
    left: -4%;

    padding: 0.5em 0.5em 0em;

    font-family: var(--font-family-optimus);
    font-weight: 500;
    font-size: 1rem;

    letter-spacing: 0.05em;
    background-color: transparent;

    color: var(--font-color-primary);

    transition: all 0.5s;
}

input {
    width: 200px;

    border: none;
    border-bottom: 1px solid var(--border-color-primary);
    padding: 0.5em 0.5em 0em 0em;

    font-family: var(--font-family-vesper);
    font-size: 1.2rem;

    color: var(--font-color-primary);

    background: transparent;

    transition: all 0.5s;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 1em;
    padding: 1.5em 2.5em;

    font-family: var(--font-family-optimus);
    font-weight: 600;
}

/* ----- This section will style all the inputs and their label but the second password input.
The first two are for when the input is valid and out of focus.
The last two are for when the input is invalid and out of focus ----- */
input:not(:focus):valid+label {
    color: var(--font-color-correct-value)
}

input:not(:focus):valid {
    border-bottom: 1px solid var(--border-color-correct-value)
}

input:not(:focus):not(:placeholder-shown):invalid+label {
    color: var(--font-color-wrong-value)
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-bottom: 1px solid var(--border-color-wrong-value)
}

/* ------------------------------------------------------------ */


/* ---------- This section will style the span pseudoelement (besides 
that one regarding the second password input) and will give it a content
when the input is invalid and out of focus ---------- */
span {
    position: relative;
}

span::after {
    position: absolute;
    content: '';

    font-family: var(--font-family-vesper);
    font-size: 1rem;

    color: var(--font-color-primary);

    transition: all 0.5s;
}

input:not(:focus):not(:placeholder-shown):invalid+label[for='email']+span::after {
    content: 'Please, enter a valid gmail address.';
    color: var(--font-color-wrong-value);
}

input:not(:focus):not(:placeholder-shown):invalid+label[for='phone']+span::after {
    content: 'Please, enter only digits.';
    color: var(--font-color-wrong-value);
}

input:not(:focus):not(:placeholder-shown):invalid+label[for='password']+span::after {
    content: 'Please, enter a valid password';
    color: var(--font-color-wrong-value);
}

/* ----------------------------------------------------------------------------------- */


/* ---------- This section will style the second password input, its label and the span pseudoelement
following the label with the classes added with js. ---------- */
input#confirm-password:not(:focus):not(:placeholder-shown).no-password {
    border-bottom: 1px solid var(--border-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label.no-password {
    color: var(--font-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label+span.no-password::after {
    content: 'Please, enter a password in the field on your left';
    color: var(--font-color-wrong-value)
}



input#confirm-password:not(:focus):not(:placeholder-shown).wrong-password {
    border-bottom: 1px solid var(--border-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label.wrong-password {
    color: var(--font-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label+span.wrong-password::after {
    content: 'Please, enter a VALID password in the field on your left';
    color: var(--font-color-wrong-value)
}



input#confirm-password:not(:focus):not(:placeholder-shown).not-match {
    border-bottom: 1px solid var(--border-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label.not-match {
    color: var(--font-color-wrong-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label+span.not-match::after {
    content: 'Please, make sure your passwords match.';
    color: var(--font-color-wrong-value)
}



input#confirm-password:not(:focus):not(:placeholder-shown).match {
    border-bottom: 1px solid var(--border-color-correct-value)
}

input#confirm-password:not(:focus):not(:placeholder-shown)+label.match {
    color: var(--font-color-correct-value);
}

/* ---------------------------------------------------------------------------------------------- */